body 
    {
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    }

.btnback 
{
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

.btnback:hover { background-color: transparent; }